body{
	font-family: sans-serif;
}

*{
 	margin: 0 !important;
 }

/*navbar*/
.navbar{
	background-color: #515151;
	padding: 5px !important;
}

.navbar-nav li{
	padding: 0 10px;

}

.navbar-nav li a{
	color: #fff !important;
	font-weight: 600;
	float: center !important;
	text-align: left;
}

/*navbar*/

/*jumbotron*/

.jumbotron{
	background-color: skyblue;
}

.display{
	padding: 250px 150px 100px 100px !important;

}

.display h5{
	font-size: 65px;
	font-weight: 200;
	padding: 5px 0 0 0;
}

.display p{
	font-size: 20px;
	font-style: italic;
}

.display button{
	font-size: 12px;
	background-color: #00477b;
	color: white;
	margin: 10px 0 !important;
	padding: 5px;
}

/*jumbotron*/

/*--about--*/

.row{
	padding: 20 20;
	margin: 50px 50px 50px 50px !important;
}

.about-rows{
	background-color: darkgray;
	margin: 50px 50px 50px 50px;
	padding: 20px;
}

.img-fluid{
	display: block;
  	margin-left: auto !important;
 	margin-right: auto !important;
 	margin-top: auto !important;
 	margin-bottom: auto !important;
 	width: 40%;
}

.about-me{
	background-color: #515151;
	color: whitesmoke;
	padding: 20px;
	font-size: 35px;
	text-align: center;
	margin: 50px 50px 50px 50px
}

.banner-title{
	font-size: 30px;
	font-weight: 600;
}

.container-fluid p{
	font-size: 25px;
}

.container-fluid{

}
/*about*/



/*projects*/
.card-body{
	align-content: center;
	text-align: center;
}

.card-title{
	font-size: 40px;
	padding: 10px;
}

.card-text{
	color: red;
	padding: 10px;
}

.card-img-top{
	padding: 10px;
}
/*projects*/






/*footer*/

.page-footer{
	background-color: #515151;
}
/*footer*/