body{
	background-color: #eee;
	font-family: sans-serif;
;
}

*{
 	margin: 0 !important;
 }

/*navbar*/

#logo{
	display: inline-block;
	width: 90px;
    height: 90px;
    margin: 0%;
    padding: 0;
}
.logo-image{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.navbar{
	background-color: #2e4668
;
	padding: 5px !important;
}

.navbar-nav li{
	padding: 0 10px;

}



.navbar-nav li a{
	color: #fff !important;
	font-weight: 600;
	float: center !important;
	text-align: left;
}

.nav-link :hover{
	color: 	red;
}

/*navbar*/

/*jumbotron*/


.bg-img-background{
	height:50% !important;
	width: 100%;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

/*.display{
	margin: 30px 20px 50px 40px;
	border-radius: 0px 50px 0px 50px;
	 border-color: #2e4668;
	 margin:  30px 60px;
}*/


.header h5{
	font-size: 65px;
	font-weight: 100;
	padding: 5px 0 0 0;
	color: white !important;
	text-decoration: underline overline solid white;
	-webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: #515151;
    text-shadow: 2px 2px 4px #000000;
}

.header p{
	font-size: 20px;
	font-style: italic;
	color: white;
	-webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: white;
    text-shadow: 2px 2px 4px #000000;
}

.header button{
	font-size: 12px;
	background-color: #00477b;
	color: white;
	margin: 10px 0 !important;
	padding: 5px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	border-radius: 	99px;
}

.jumbotron-img{
	mask
}

/*jumbotron*/

/*--about--*/

.row{
	padding: 20 20;
	margin: 50px 50px 50px 50px !important;
	float: center /*!important;*/
}

.about-rows{
	margin: 0;
	padding: 20px;
	justify-items: 	center;

}

.about-content{
	border-radius: 0px 50px 0px 50px;
	 border-color: #2e4668;
	 margin-left: auto !important;
 	margin-right: auto !important;
	 background-color: white;
	 box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	 width: 	25rem;
}

.content{
	text-align: center !important;
	font-size: 100% !important;
	padding:/* 40px*/ 20px;

	}

.img-fluid-me{
	display: inline-flex;
  	margin-left: auto !important;
 	margin-right: auto !important;
 	margin-top: 40px;
 	margin-bottom: 40px;
 	align-content: center;
 	width: 50%;
 	border-radius: 50%;
 	border: 5px solid ;
 	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
 }

.btn-resume{
	background-color: #dca85c;
	color: darkslategray;
 	width: 50%;
 	border-radius: 	98px;
 	margin-left: auto !important;
 	margin-right: auto !important;
 	margin-top: 10px !important;
 	margin-bottom: 10px !important;
 	padding: 10px;
 	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
 }

 .image-button{
 	display: flex;
  justify-content: space-around;
  flex-direction: column;
 margin-left: auto !important;
 	margin-right: auto !important;

 }

.img-fluid{
	display: block;
  	margin-left: auto !important;
 	margin-right: auto !important;
 	margin-top: auto !important;
 	margin-bottom: auto !important;
 	align-content: center;
 	width: 40%;
 	border-radius: 50%;
 	border: 5px solid #515151;
 	opacity: 50%;

}

.about-me{
	background: linear-gradient(90deg, rgba(46,70,104,1) 0%, rgba(128,128,215,1) 50%, rgba(46,70,104,1) 100%);
	color: whitesmoke;
	padding: 10px;
	font-size:150%;
	text-align: center;
	margin: 100px;
	border-radius: 30%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
}

.banner-title{
	font-size: 150% !important;
	font-weight: 600;
	text-align: center;
	font-family: 'Pacifico', cursive;
}


.container-fluid p{
	font-size: 25px;

}
/*about*/



/*projects*/
.card-body{
	align-content: center;
	text-align: center;
}

.card-group{
	margin: 20px 0px;

}

.card{
	 border-radius: 0px 50px 0px 50px;
	 border-color: #2e4668;
	 margin:  30px 60px;
	 box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card-title{
	font-size: 40px;
	padding: 10px;
	font-size: 150%;
	color: #2e4668;
}

.card-text{
	font-size: 	100%;
}

.card-title-about{
	padding: 10px;
	font-size: 150%;
	color: #2e4668;
}

ul.card-body-about{
	list-style-type: none;
	padding: 	10px;
	  -webkit-columns: 2;
    -moz-columns: 2;
    columns: 2;
    list-style-position: inside;
}

ul.card-body-about1{
	list-style-type: disc;
	padding: 	10px;
}

.card-body-about li{
	padding: 	5px;
}

.card-body-about1 li{
	padding: 	5px;
}

.card-header{
	background-color: #2c4c66
;
color: white;
padding: 20px;
font-size: 	23px;

}


.card-body-form{
background-color: #2c4c66;
margin: 30px 30px;
padding: 20px 30px;
color: white;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.card-img-top{
	padding: 10px;
	border-radius: 50%;
 	border: 5px solid #515151;
 	width: 	50%;
 	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

 	}

}
/*projects*/


/*contact me*/

.card-body-form{
	align-content: flex-end;
	padding: 20px;
}

.card-body-form label{
	padding: 10px 0px;
}

.textarea{
	width: 100%;
	padding: 5px;
}

#map-container-google-1{
	/*display: block;
  	margin-left: auto !important;
 	margin-right: auto !important;
 	margin-top: auto !important;
 	margin-bottom: auto !important;
 	width: 40%;*/
 	display: inline-flex;
  	margin-left: auto !important;
 	margin-right: auto !important;
 	margin-top: 40px;
 	margin-bottom: 40px;
 	align-content: center;
 	width: 100%;
 	border: 5px solid #515151;
 	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.contact-me{
	align-content: space-between;
}

/*contact me*/



/*footer*/

.page-footer{
background-color: 	#2e4668	
;
}

.footer-hyperlink{
	color: white !important;
	font-size: 15px;
}
/*footer*/

.header > img {
  width: 100%;
}

.content-header {
  background: none repeat scroll 0 0;
  top: 0 !important;
  left: 0 !important;
  margin-left: 13% !important;
  margin-top: 35% !important;
  position: absolute;
}



.footer-social a{
	padding: 0 10px;
	font-size: 120%;
}
